*{

}
body{
    background-image: url("/static/image/top.gif");
}
#wrapper{
    background-color: rgba(255, 255, 255, 0.7);
    width:70%;
    height:70%;
    margin:15% auto;
    padding:20px;
    border-radius:40px;
    text-align:center;
}
#rooms a{
    display: block;
    width:40%;
    margin:0 auto;
    color:rgb(0, 0, 0);
    font-size:30px;
    text-decoration:none;
    border-radius: 50px;
    background-color: greenyellow;
}
#make_text{
    display:block;
    width:20%;
    margin:0 auto;
    color:white;
    background-color: rgb(3, 19, 124);
    border-radius: 50px;
}