body {
    background-color: rgba(4,4,4,0.95);
}
html,body{
    overflow: hidden
}
.cpu_box{
    position:relative;
    margin:5vh 0.8vw;
    border-radius:8px;
}
.cpu_box img{
    width:18vw;
    height:85vh;
    border-radius:8px;
}
.box-wrapper{
    margin:0;
    display:flex;
    height:100vh;
    background-color: rgba(4,4,4,0.95);
}
.cpu_name {
    color:white;
    font-size:30px;
    text-align: center;
    margin:0;
}
.cpu_desc {
    position:absolute;
    width:100%;
    background-color: rgba(0,0,0,0.7);
    top:0;left:0;
}