body{
    background-image: url("/static/image/top.gif");
    cursor:url("/static/image/mokumoku2.gif"), auto;
}
html,body{
    overflow: hidden;
    margin:0;
}
.cpu_box{
    position:relative;
    margin:5vh 6vw;
    border-radius:8px;
}
.cpu_box :hover{
    background-color: rgba(195, 195, 195, 0.342);
}
.cpu_box img{
    width:20vw;
    height:85vh;
    border-radius:8px;
}
.box-wrapper{
    margin:0;
    display:flex;
    height:100vh;
    background-color: rgba(4,4,4,0.4);
}
.cpu_name {
    color:white;
    font-size:40px;
    text-align: center;
    margin:0;
}
.cpu_desc {
    position:absolute;
    width:100%;
    border-radius:8px;
    background-color: rgba(0,0,0,0.7);
    top:0;left:0;
}